<h1>Vamos vender!</h1>
><%= link_to "Quitar kits", vendas_path %> <br>
<h2>><%= link_to "Bixos", bixos_path %> </h2>
><%= link_to "Veteranos", veteranos_path %><br>
><%= link_to "Configurações Esportes", esportes_path %> <br>
