
<h1>Contatos por modalidade</h1>

<h2>E-mails</h2>

<pre>
<% @modalidades.each do |m| %>
# <%= m.nome %>
<% m.bixos.each do |b| %>
<%= b.email %>
<% end %>

<% end %>
</pre>

<h2>Telefones</h2>

<pre>
<% @modalidades.each do |m| %>
# <%= m.nome %>
<% m.bixos.each do |b| %>
<%= b.telefone %>
<% end %>

<% end %>
</pre>

