<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @modalidade.nome %>
</p>

<div class="row">
  <div class="col-md-3">
    <div class="actions">
      <%= link_to 'Voltar à lista', modalidades_path, class: 'btn btn-danger btn-lg' %>
    </div>
  </div>

  <div class="col-md-3 col-md-offset-6">
    <div class="actions">
      <%= link_to 'Editar', edit_modalidade_path(@modalidade), class: 'btn btn-success btn-lg' %>
    </div>
  </div>
</div>
