<h1>Listagem de Esportes</h1>
<%= link_to 'Novo esporte', new_esporte_path %><br>
<table>
  <tr>
    <th>Modalidade</th>
    <th colspan="2"></th>
  </tr>
<% @esportes.each do |esporte| %>
  <tr>
    <td class="name"><%= esporte.modalidade %></td>
    <td><%= link_to 'bixes cadastrados', esporte %></td>
    <td>
      <%= link_to 'Remover', esporte, method: :delete, data: { confirm: 'Tem certeza?' } %>
    </td>


  </tr>
<% end %>
</table>
