<h1>Modificar pagamento de <br><%= link_to @pagamento.venda.bixo.nome, @pagamento.venda.bixo %></h1>

<% if @veteranos.empty? %>
  Nenhum veteranos registrado para receber o pagamento!</br>
<% else %>
  <%= render 'form' %>
<% end %>
