/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

:root {
  --sports-red: #f00;
  --sports-white: #ddd;
  --light-red-bg: #fee;
  --light-blue-bg: #eef;
}

.grid {
  margin-top: 50px;
  font-size: 1.2em;
}

.banner {
  background: var(--sports-red);
  padding: 20px;
  color: var(--sports-white);;
  font-size: 1.7em;
}

[class*="list-item-"] {
  font-size: 1.3em;
}

[class*="list-item-"]:not(:first-of-type) {
  margin-top: 5px
}

.list-item-0 {
  background: var(--light-red-bg);
}

.list-item-1 {
  background: var(--light-blue-bg);
}

.btn {
  color: #fff !important;
}

a:hover {
  background: none;
  text-decoration: none;
}
