
<h1>Bixos cadastrados</h1>

<div class="row lil-top-margin">
  <div class="col-xs-6 col-xs-offset-6 col-md-2 col-md-offset-10">
    <%= link_to 'Novo bixe', new_bixo_path, class: 'btn btn-success btn-lg' %>
  </div>
</div>
