<table>
  <tr>
    <th>Nome</th>
    <th>Email</th>
    <th>Telefone</th>
    <th>Curso/Turma</th>
  </tr>
<% Venda.order("nome").each do |venda| %>
    <td><%= venda.nome %></td>
    <td><%= venda.email %></td>
    <td><%= venda.telefone %></td>
    <td><%= venda.curso_turma %></td>
  </tr>
<% end %>
</table>